body {
  font-family: monospace;
  min-width: none;
}

h1 {
  text-align: center;
}

img {
  border-radius: 20px;
  height: 150px;
  width: 150px;

  margin-right: 15px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 50%;
}

@media (max-width: 600px) {
  img {
    margin-bottom: 15px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}
